*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    width: 100%;
    height: 100%;
    /* background-color:rgb(214, 240, 240); */
}
.header{
    height: 640px;
    width: 213vh;
    background-image: url(images/wallpaper1.avif);
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
}
.nav{
    /* background-color:rgb(206, 161, 84); */
    height: 60px;
}
.nav ul{
    display: flex;
    text-align: center;
    justify-content:space-around;
    padding-top: 20px;
    list-style-type: none;
}
.nav a{
   text-decoration: none;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   padding: 10px 0px 10px 10px ;
   color: black;
   font-size:2.5ch;
}
.nav a:hover{
    color: rgba(77, 138, 199, 0.819);
    
}
.btn{
    padding: 1vw 1.5vw ;
    border-radius: 90px;
    border: 1px solid grey;
    background-color: rgba(101, 152, 172, 0.712);
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
    margin-top: -8px;
    box-shadow:0px 0px 2px 2px grey;

}
.btn:hover{
    background-color:rgba(255, 255, 255, 0.345);
}
.text{
    text-align: center;
    padding-top: 50px;
    font-size: large;
    color:darkslategrey;
}
.buttons{
    text-align: center;
    margin: 10px 20px 0px 0px;
    
}
.buttons .btn1{
  padding: 1vw 1.5vw;
  border-radius: 90px;
  border: 1px solid grey;
  background-color: rgba(203, 162, 59, 0.712);
  font-size: 1vw;
  font-weight: 600;
  cursor: pointer;
  box-shadow:0px 0px 5px 5px rgba(214, 157, 104, 0.457);
}
.buttons .btn2{
    padding: 1vw 1.5vw;
    border-radius: 90px;
    border: 1px solid grey;
    background-color: rgba(203, 162, 59, 0.712);
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
    box-shadow:0px 0px 5px 5px rgba(214, 157, 104, 0.457);
}
.btn1:hover{
   background-color: rgba(214, 157, 104, 0.457);
}
.btn2:hover{
    background-color: rgba(214, 157, 104, 0.457);
 }
.page1{
    height: 720px;
    width: 213vh;
    background-color: #8099de93;
}
.cards{
    display: flex;
    justify-content:space-around;
    text-align: center;
    padding-top: 100px;
      font-size: medium;
}
.cards h2{
    color:darkslategrey;
}
.card1{
    margin-top: -25px;
    padding: 2vw 1vw;
    border-radius: 90px;
    border: 1px solid black;
}
.card2{
    margin-top: -25px;
    padding: 2vw 1vw;
    border-radius: 90px;
    border: 1px solid black;
}
.card3{
    margin-top: -25px;
    padding: 2vw 1vw;
    border-radius: 90px;
    border: 1px solid black;
}
.card4{
    margin-top: -25px;
    padding: 2vw 1vw;
    border-radius: 90px;
    border: 1px solid black;
}
.line{
    background-color: darkslategrey;
    width: 100px;
    height: 5px;
    margin: 50px 0px 0px 600px;
}
.page1 h1{
    color:darkslategrey;
    text-align: center;
    /* padding-top: 40px; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.number{
    display: flex;
    justify-content:space-around;
    text-align: center;
    padding-top: 15px;
}
.number h2{
    font-size: 100px;
}
.number3{
    text-align: center;
    padding-top: 50px;
}
.number3 h2{
    font-size: 100px;
}
.page2{
    height: 850px;
    width: 213vh;
    background-color: #8099de93;
    margin-top: -60px;
}
#box1{
    height: 250px;
    width: 250px;
    background-color: #8099de93;
    margin: 60px 0px 0px 50px;
    border-radius: 5px 5px 5px 5px;

}
#box2{
    height: 250px;
    width: 250px;
    /* background-color: red; */
    margin: -230px 0px 0px 70px;
    overflow: auto;
    background-image: url(images/p3.jpg);
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 10px 10px #8099de93;
    border-radius: 5px 5px 5px 5px;
}
.line1{
    margin: -240px 0px 0px 390px;
        background-color: darkslategrey;
        width: 60px;
        height: 5px;
}
.content h3{
    margin: 5px 0px 0px 380px;
    text-align: left;
    color: darkslategrey;
    font-size: 30px;
}
.content p{
    padding-top: 10px;
    text-align: center;
}
.btn3{
    margin: 3px 0px 0px 635px;
    padding: 0.5vw 0.5vw;
    border-radius: 90px;
    border: 1px solid grey;
    background-color: rgba(59, 105, 203, 0.712);
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
    box-shadow:0px 0px 5px 2px grey;

}
.btn3:hover{
    background-color: rgba(138, 161, 182, 0.802);
}
.numbers{
    display: flex;
    justify-content:space-around;
    text-align: center;
    padding-top: 60px;
    font-size: 40px;
}
.numbers p{
    font-size: 20px;
}
.line2{
    background-color: darkslategrey;
    width: 80px;
    height: 5px;
    margin: 50px 0px 0px 630px;
}
.page2 h4{
    /* padding: 40px 0px 0px 20px; */
    text-align: center;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:darkslategrey;
}
.inboxs{
    size: 200px;
    display: flex;
    justify-content:space-around;
    text-align: center;
    padding-top: 30px;
    height: 300px;
}
.inboxs p{
    text-align: center;
    margin: 10px 2px 0px 2px;
    
}
.inboxs img{
    height: 150px;
    width: 265px;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
}
.inboxs a{
    color:rgb(205, 164, 171);
    cursor: pointer;
}
.inboxs a:hover{
    color:rgb(150, 124, 88);
}
.inbox1{
    border: 1px solid black;
    border-radius: 10%;
}
.inbox2{
    border: 1px solid black;
    border-radius: 10%;
}
.inbox3{
    border: 1px solid black;
    border-radius: 10%;
}
.inbox4{
    border: 1px solid black;
    border-radius: 10%;
}
.page3{
    height: 580px;
    width: 213vh;
    /* background-color:rgb(2, 0, 760); */
    margin-top: -60px;
}
.line3{
    background-color: darkslategrey;
    width: 80px;
    height: 5px;
    margin: 50px 0px 0px 630px;
}
.page3 h5{
    text-align: center;
    font-size: 50px;
    background-color: #8099de93;
}
.profile-body{
    height: 80vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #8099de93;

}
.profile-card{
    max-width: 340px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    padding: 25px;
    position: relative;
}
.profile-card::before{
    content: "";
    top:0;
    left:0;
    border-radius: 24px 24px 0 0;
    position: absolute;
    height: 36%;
    width: 100%;
    background-color: #4070f4;
}
.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #4070f4;
    padding: 3px;
    margin: -10px 0 0 75px;
}
.image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}
.profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}
.text-data .name{
    margin-top: 10px;
    font-size: 22px;
    font-weight: 500;
}
.text-data .job{
    font-size: 15px;
    font-weight: 400;
}
.profile-card .media-buttons{
    display: flex;
    align-items: center;
    margin: 15px 0 0 85px;
}
.profile-card .link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 34px;
    font-size: 18px;
    border-radius: 50%;
    margin: 0 8px;
    color: #fff;
    background-color: #4070f4;
    text-decoration: none;
    box-shadow:0px 0px 2px 2px #4070f4;
}
.keys{
    display: flex;
    align-items: center;
    margin:0 0 0 50px;
} 
.keys .key{
    border: none;
    border-radius: 24px;
    margin: 10px;
    padding: 8px 24px;
    background-color: #4070f4;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow:0px 0px 2px 2px #4070f4;
}
.keys .key:hover{
   background-color: #0e4bf1 ;
}
.profile-card .analytics{
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.analytics .data{
    display: flex;
    align-items: center;
    color: #333;
  padding: 0 20px;
  border-right: 2px solid #e7e7e7;
}
.data i{
    font-size: 20px;
    margin-right: 6px;
    cursor: pointer;
}
.data:last-child{
    border-right: none;
}
.comment{
   background-image: url(images/img5.jpg);
    height: 300px;
    width: 100vw;
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
}
.comment h6{
    text-align: center;
    padding-top: 50px;
    color: whitesmoke;
    font-size: 29px;
}
.comment span{
    color: #f4f4f4;
    text-align: center;
    padding:100px 0 0 410px;
    font-size: 20px;
}
.comment .line4{
    background-color: black;
    width: 80px;
    height: 5px;
    margin: 20px 0px 0px 630px;
    background: transparent;
}
.info{
    justify-content:center;
    align-items: center;
    display: flex;
    padding: 18px ;
}
.info .Enter{
    background-color: transparent;
}
.info input{
    width: 240px;
    height: 35px;
    background: transparent;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: sans-serif;
    box-shadow:0px 0px 2px 2px #4070f4;
    border-radius: 5px 5px 5px 5px;

}
.info .Sign-Up{
    margin-left: 20px;
    padding: 8px 8px 8px 8px;
    background: transparent;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: sans-serif;
    cursor: pointer;
    box-shadow:0px 0px 2px 2px #4070f4;
    border-radius: 5px 5px 5px 5px;
}
